/* selector univeral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* formar al body */
body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 20px;
  background-color: grey;
  text-align: center;
}
/* color de texto para h1 y h2 */
h1,
h2 {
  color: white;
}
/* variable para el borde-radius */
:root {
  --border-radius: 5px;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* estilos para caja1 */
.caja1 {
  width: 200px;
  height: 200px;
  margin-top: 15px;
  background-color: aqua;
  color: white;
  padding: 20px;
  border-radius: var(--border-radius);
  font-size: 18px;
  border: solid 3px black;
}
/* estilos caja2 */
.caja2 {
  width: 200px;
  height: 200px;
  margin-top: 15px;
  background-color: crimson;
  color: palegoldenrod;
  padding: 20px;
  border-radius: var(--border-radius);
  font-size: 18px;
  border: solid 3px black;
}
/* estilos caja 3 */
.caja3 {
  width: 200px;
  height: 200px;
  margin-top: 15px;
  background-color: palevioletred;
  color: orange;
  padding: 20px;
  border-radius: var(--border-radius);
  font-size: 18px;
  border: solid 3px black;
}

.imagen {
  width: 100%;
  border-radius: var(--border-radius);
  border: solid;
}
/* diseño en fila en pantalla mas grande */
@media (min-width: 666px) {
  body {
    background-color: slategray;
  }
  .contenedor {
    flex-direction: row; /*alinear en fila*/
    display: flex;

    justify-content: center; /*centrar elementos*/
  }
  .caja1,
  .caja2,
  .caja3 {
    width: 30%;
    margin-left: 20px;
  }
}
